In [1]:
# Import the necessary libraries
import pandas as pd

In [2]:
# Import dataset, assign it to variable users
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep="|")

In [3]:
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [4]:
# Mean age per occupation
users.groupby(["occupation"])["age"].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [5]:
# Male ratio by occupation, sorted most to least
males = users.loc[users["gender"] == "M"]
count_per_occupation = males.groupby("occupation")["gender"].count()
occupation = count_per_occupation.index
count = [i for i in count_per_occupation]
for i, j in zip(occupation, count):
    print(f"{i}: {j/sum(count)}")

administrator: 0.06417910447761194
artist: 0.022388059701492536
doctor: 0.010447761194029851
educator: 0.10298507462686567
engineer: 0.09701492537313433
entertainment: 0.023880597014925373
executive: 0.04328358208955224
healthcare: 0.007462686567164179
homemaker: 0.0014925373134328358
lawyer: 0.014925373134328358
librarian: 0.03283582089552239
marketing: 0.023880597014925373
none: 0.007462686567164179
other: 0.10298507462686567
programmer: 0.08955223880597014
retired: 0.019402985074626865
salesman: 0.013432835820895522
scientist: 0.041791044776119404
student: 0.20298507462686566
technician: 0.03880597014925373
writer: 0.03880597014925373

In [6]:
# Min age per occupation
users.groupby(["occupation"])["age"].min()

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [7]:
# Max age per occupation
users.groupby(["occupation"])["age"].max()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

In [8]:
# Mean age per combination of occupation and sex
users.groupby(["occupation", "age"])["age"].mean()

occupation     age
administrator  21     21
               22     22
               23     23
               25     25
               26     26
                      ..
writer         50     50
               51     51
               52     52
               56     56
               60     60
Name: age, Length: 429, dtype: int64

In [9]:
# Percentage of women and men per occupation

males = users.loc[users["gender"] == "M"]
males_count_per_occupation = males.groupby("occupation")["gender"].count()
males_occupation = count_per_occupation.index
males_count = [i for i in count_per_occupation]

females = users.loc[users["gender"] == "W"]
females_count_per_occupation = males.groupby("occupation")["gender"].count()
females_occupation = count_per_occupation.index
females_count = [i for i in count_per_occupation]

print("Men")
for i, j, k in zip(males_occupation, males_count, females_count):
    print(f"{i}: {100*j/(j+k)}")

print("\n\nWomen")
for i, j, k in zip(females_occupation, females_count, males_count):
    print(f"{i}: {100*j/(j+k)}")

Men
administrator: 50.0
artist: 50.0
doctor: 50.0
educator: 50.0
engineer: 50.0
entertainment: 50.0
executive: 50.0
healthcare: 50.0
homemaker: 50.0
lawyer: 50.0
librarian: 50.0
marketing: 50.0
none: 50.0
other: 50.0
programmer: 50.0
retired: 50.0
salesman: 50.0
scientist: 50.0
student: 50.0
technician: 50.0
writer: 50.0


Women
administrator: 50.0
artist: 50.0
doctor: 50.0
educator: 50.0
engineer: 50.0
entertainment: 50.0
executive: 50.0
healthcare: 50.0
homemaker: 50.0
lawyer: 50.0
librarian: 50.0
marketing: 50.0
none: 50.0
other: 50.0
programmer: 50.0
retired: 50.0
salesman: 50.0
scientist: 50.0
student: 50.0
technician: 50.0
writer: 50.0